- if current_user
  = "Welcome #{current_user.name}"
  |
  = link_to "Log out", "/signout"
- else
  = link_to "Sign in with Github", "/auth/github"


%h2 Projects
%ul
  - @user_projects.each do |project|
    %li
      = project.link
      = link_to 'Destroy', project_path(project),
            :confirm => 'Are you sure?', :method => :delete

= simple_form_for @project do |f|
  = f.input :link
  = f.submit
